body {
  font-family: roboto;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.main-container {
  display: grid;
  grid-template: 1fr 5fr/ 1fr 4fr;
  height: 100%;
  width: 100%;
}

.dashboard-topbar {
  grid-area: 1/2/2/3;
  display: grid;
  grid-template: 1fr 2fr/ 1fr;
  box-shadow: 1px 1px 4px grey;
  padding: 1rem;
  margin-bottom: 2px;
}

.dashboard-topbar-top {
  grid-area: 1/1/2/2;
  display: grid;
  grid-template: 1fr / 2fr 1fr;
}

.dashboard-topbar-top input {
  width: 70%;
  height: 30px;
  background: gainsboro;
  border-radius: 30px;
  border: none;
}

.account-info{
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
}

.topbar-profile-img{
  align-self: center;
  justify-self: end;
  padding-right: 1rem;
}

.account-name{
  font-weight: bold;
  justify-self: start;
  align-self: center;
}

.dashboard-topbar-bottom {
  grid-area: 2/1/3/2;
  display: grid;
  grid-template: 1fr / 2fr 3fr;
}

.greeting-user{
  justify-self: start;
  display: grid;
  grid-template: 1fr 1fr / 1fr 2fr;
}

.profile-image{
  grid-area: 1/1/3/2;
  align-self: center;
  justify-self: end;
  padding-right: 1rem;
}

.greeting-message{
  align-self: end;
}

.profile-name{
  font-size: 1.5rem;
  font-weight: bold;
}

.profile-image img{
    border-radius: 100px;
}

.small-profile-img{
  border-radius: 100px;
}

.topbar-action-buttons{
  justify-self: center;
  align-self: end;
  display: grid;
  grid-template: 1fr / repeat(3, 150px);
}

.topbar-action-buttons button{
 justify-self: center;
 align-self: center;
 background: royalblue;
 height: 40px;
 width: 120px;
 border-radius: 20px;
 border: none;
 font-size: 1rem;
 font-weight: bold;
 color: white;
}

.dashboard-sidebar {
  grid-area: 1/1/3/2;
  display: grid;
  grid-template: 50px / 1fr;
  grid-auto-rows: 50px;
  background-color: royalblue;
  padding-left: 1.5rem;
}

.dashboard-sidebar a {
  color: white;
}

.dashboard-side-btn-main{
  grid-area: 1/1/3/2;
}

.dashboard-side-btn-main a{
  font-size: 2rem;
}

.dashboard-side-btn-seperator{
  grid-area: 8/1/10/2;
  align-self: end;
}

.dashboard-side-btn{
  max-height: 50px;
  min-height: 50px;
}

.icon-padding{
  padding: 1rem;
}

.dashboard-info {
  grid-area: 2/2/3/3;
  display: grid;
  grid-template: 2fr 1fr / 3fr 1fr;
  background: aliceblue;
  padding: 3rem 2rem 3rem 2rem;
  gap: 2rem;
  column-gap: 1rem;
}

.project-card-container {
  grid-area: 1/1/3/2;
  display: grid;
  position: relative;
  grid-template: 1fr / 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 2rem;
}

.dashboard-info-title{
  position: absolute;
  top: -2rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.project-card {
 border-radius: 5px;
 background: white;
 border-left: 5px solid orange;
 box-shadow: 1px 1px 3px grey;
 display: grid;
 position: relative;
 grid-template: 1fr 7fr 2fr / 1fr;
 padding: 1rem;
}

.project-card-title{
  font-size: 1.2rem;
  font-weight: bold;
}

.project-card-info{
  color: grey;
  padding-top: 0.5rem;
}

.project-card-action-container{
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.announcements-container {
  grid-area: 1/2/2/3;
  display: grid;
  grid-template: 1fr / 1fr;
  grid-auto-rows: 1fr;
  position: relative;
  border-radius: 10px;
  background: white;
  box-shadow: 1px 1px 3px grey;
}

.announcements-card {
  justify-self: center;
  display: grid;
  grid-template: 1fr 4fr / 1fr;
  padding: 1.5rem;
}

.announcements-card-title{
  font-size: 0.9rem;
  font-weight: bold;
  align-self: center;
}

.announcements-card-content{
  font-size: 0.7rem;
  border-bottom: 1px solid grey;
  color: grey;
}

.trending-container{
  justify-items: start;
  grid-area: 2/2/3/3;
  display: grid;
  grid-template: 1fr / 1fr;
  grid-auto-rows: 1fr;
  position: relative;
  border-radius: 10px;
  background: white;
  box-shadow: 1px 1px 3px grey;
  padding: 2rem;
}

.trending-card{
  display: grid;
  grid-template: 1fr / 1fr 3fr;
}

.trending-details{
  display: grid;
  grid-template: 1fr 1fr/ 1fr;
}

.trending-profile-img{
  align-self: center;
  justify-self: end;
  padding-right: 1rem;
}

.user-handle{
  align-self: center;
  justify-self: start;
}

.user-message{
  align-self: start;
  color: grey;
  font-size: 0.8rem;
}
